@model IEnumerable<hager_crm.Models.CompanyVendor>
<br />
<div class="row">
    <div class="col-xl-4 col-md-6 col-12 p-4">
        <div class="card">
            <div class="card-header">
                Contractor Types
            </div>
            <div class="card-body">
                <div name="sortable" class="list-group" style="overflow-y: auto; height: 355px;">
                    @foreach (var item in Model)
                    {
                        <div class="lookup-list-item list-group-item d-flex justify-content-between pr-2"
                             data-item-id="@item.VendorTypeID"
                             href="#">
                            <div name="sort-handle" class="btn-group" role="group" aria-label="List Sort Handle">
                                <a class="btn btn-sm btn-outline-secondary disabled">⥯</a>
                            </div>
                            <div class="display-name d-flex m-auto">@item.VendorType.Type</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
