@model IEnumerable<hager_crm.Models.CompanyCustomer>
<br />
<div class="row">
    <div>
        <div class="card">
            <div class="card-header">
                Customer Types
            </div>
            <div class="card-body">
                <div name="sortable" class="list-group" style="overflow-y: auto; height: 355px;">
                    @foreach (var item in Model)
                    {
                        <div class="lookup-list-item list-group-item d-flex justify-content-between pr-2"
                             data-item-id="@item.CustomerTypeID"
                             href="#">
                            <div name="sort-handle" class="btn-group" role="group" aria-label="List Sort Handle">
                                <a class="btn btn-sm btn-outline-secondary disabled">⥯</a>
                            </div>
                            <div class="display-name d-flex m-auto">@item.CustomerType.Type</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>