@{
    ViewData["Title"] = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Configuration</h1>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="configTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="roles-tab" data-toggle="tab" href="#roles-panel" role="tab" aria-controls="roles-tab" aria-selected="true">Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lookup-tab" data-toggle="tab" href="#lookup-panel" role="tab" aria-controls="lookup-tab" aria-selected="false">Lookup Lists</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="configTabContent">
            <div class="tab-pane fade" id="roles-panel" role="tabpanel" aria-labelledby="roles-tab"></div>
            <div class="tab-pane fade" id="lookup-panel" role="tabpanel" aria-labelledby="lookup-tab"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function refreshTab(activeTab) {
            switch (activeTab) {
                case 'roles-tab': $('#roles-panel').load('/Configuration/GetRoles');
                    break;
                case 'lookup-tab': $('#lookup-panel').load('/Configuration/GetLookups');
                    break;
                default:
                    break;
            }
        }
        $('.nav-link').click(function () {
            var activeTab = $(this).attr("id");
            refreshTab(activeTab);
        });
        window.onload = function () {
            $('#roles-panel').load('/Configuration/GetRoles');
            $('#roles-panel').addClass("show active in");
        }
    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#configurationAdminSubmenu").attr("style", "color: #862633; background: #fff;");
    })
</script>