@{
    ViewData["Title"] = "Home Page";
}

<h1>Dashboard</h1>

<div class="row">
    <div class="col-12 col-md-7 ">
        <div class="card p-4 m-2">
            <h4 class="card-title">Announcements</h4>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="announcement-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="news-unread-tab" data-toggle="tab" href="#news-unread-panel" role="tab" aria-controls="news-unread-tab" aria-selected="true">Unread News</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="news-all-tab" data-toggle="tab" href="#news-all-panel" role="tab" aria-controls="news-all-tab" aria-selected="false">All News</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="announcement-tab-content">
                        <div class="tab-pane fade p-1" id="news-unread-panel" role="tabpanel" aria-labelledby="news-unread-tab"></div>
                        @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                        {
                            <div class="tab-pane fade p-1" id="news-all-panel" role="tabpanel" aria-labelledby="news-all-tab"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 ">
        <div class="card p-4 m-2">
            <h4 class="card-title">Statistics</h4>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        
        function ReadAnnouncement(target){
            $.post( "Announcement/ReadAnnouncement", { id: $(target).data('id')}, function() {
              refreshTab('news-unread-tab');
            })
            .fail(function() {
                alert( "Something went wrong" );
            });
        }
        
        function refreshTab(activeTab) {
            switch (activeTab) {
                case 'news-unread-tab': $('#news-unread-panel').load('/Announcement/GetUnreadAnnouncements');
                    break;
                case 'news-all-tab': $('#news-all-panel').load('/Announcement/GetAnnouncements');
                    break;
                default:
                    break;
            }
        }
        $('.nav-link').click(function () {
            var activeTab = $(this).attr("id");
            refreshTab(activeTab);
        });
        window.onload = function () {
            $('#news-unread-panel').load('/Announcement/GetUnreadAnnouncements');
            $('#news-unread-panel').addClass("show active in");
        }
    </script>
    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
    {
        <script type="text/javascript">
            
            function PostAnnouncement(target){
                let $frm = $(target);
                let body = { 
                   title: $frm.find("#announcementTitle").val(),
                   message: $frm.find("#announcementMessage").val(),
                   severity: $frm.find("#announcementSeverity").val(),
                };
                
                $.post( "Announcement/PostAnnouncement", body, function() {
                  target.reset();
                  alert("Posted Successfully!");
                  refreshTab('news-all-tab');
                })
                .fail(function(result) {
                    alert( "Something went wrong" );
                    console.log(result);
                });
                return false;
            }
            function DeleteAnnouncement(target){
                $.post( "Announcement/DeleteAnnouncement", { id: $(target).data('id')}, function() {
                  alert("Deleted Successfully!");
                  refreshTab('news-all-tab');
                })
                .fail(function() {
                    alert( "Something went wrong" );
                });
            }
            // function UpdateAnnouncement(target){
            //     alert("update");
            //     let $frm = $(target).parent();
            //     $.post();
            // }
        </script>
    }
}